NODE_ENV=production
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=3600s
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpw
POSTGRES_DB=plantas
REDIS_HOST=redis
REDIS_PORT=6379
FRONTEND_URL=http://localhost:3000
BACKEND_AUTH_URL=http://localhost:23001
BACKEND_PLANT_URL=http://localhost:23002
BACKEND_NOTIFICATION_URL=http://localhost:23003
BACKEND_REPORT_URL=http://localhost:23004